.choice-text {
  padding: 16px 32px;
  margin: 16px 0;
  font-weight: 500;
  font-size: inherit;
  line-height: 24px;
  color: #2d3846;
  border: 1px solid #dce2e5;
  -webkit-box-shadow: 0 4px 0 #eceff0;
  box-shadow: 0 4px 0 #eceff0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  word-break: break-word;
  cursor: pointer;
}

.selected {
  background: #dbf0ff;
  border-color: #2493df;
  -webkit-box-shadow: 0 4px 0 #c3dbec;
  box-shadow: 0 4px 0 #c3dbec;
}

.error {
  background: #ffada1;
  border-color: #f35843;
  -webkit-box-shadow: 0 4px 0 #f35843;
  box-shadow: 0 4px 0 #f35843;
}
.correct {
  background: #bde8e0;
  border-color: #40bf9c;
  -webkit-box-shadow: 0 4px 0 #40bf9c;
  box-shadow: 0 4px 0 #40bf9c;
}

.choice-text:hover {
  background: #dbf0ff;
  border-color: #2493df;
  -webkit-box-shadow: 0 4px 0 #c3dbec;
  box-shadow: 0 4px 0 #c3dbec;
}

.result {
  position: fixed;
  width: 93.5%;
  height: 72px;
  bottom: 0%;
  font-size: 18px;
  border-radius: 4px;
  color: #fff;
  max-width: 550px;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.3rem;
}

.animate {
  bottom: 95px;
}

.result-content-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.pointer-none {
  pointer-events: none;
  opacity: 0.5;
}
